<div class="showarea">
    <p class="link"> <a href="/users/<%= current_user.id %>">User page</a> </p>
    <h1>Secrets:</h1>
    <% @secrets.each do |secret| %>
        <h2 class="secret_content"><%= secret.content %></h2>
        <div class="secret_delete">
            <% if secret.user == current_user %>
                <form action = "/secrets/<%= secret.id %>" method = "post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input class="del_button" type = 'submit' value = "Delete Secret"> 
                </form>
            <% end %>
        </div>
        <h3><%= secret.likes.count %> likes</h3>
            <% unless secret.users.include?(current_user) %>
                <form action = "/likes" method = "post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="like[secret_id]" value = "<%= secret.id %>">
                    <input class="like_button" type="submit" value = "Like">
                </form>
            <% else %>
                <form action = "/likes/<%= Like.where(user: current_user, secret: secret).first.id %>" method = "post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input class="like_button" type="submit" name="Unlike" value = "Unlike">
                </form>
            <% end %>
    <% end %>
</div>
